<ion-view view-title="Sign In" class="signin-page" hide-nav-bar="true">
  <ion-content padding="true">
    <h3 class="signin-heading">Sign in to your account</h3>
    <div class="card">
      <div class="list">
        <form name="user_login" class="sign_in_form">
          <label class="item item-input">
            <i class="icon ion-person"></i>
            <input type="text" name="username" ng-model="user.username" placeholder="Username" required>
          </label>
          <label class="item item-input">
            <i class="icon ion-android-lock"></i>
            <input type="{{ showPassword ? 'text' : 'password' }}" name="password" ng-model="user.password" placeholder="Password" required>
          </label>
          <button class="button button-clear btn-show-password" ng-click="togglePassword()" clear item-right><i class="ion-eye{{ showPassword ? '-disabled' : '' }}"></i></button>
          <button class="button button button-positive signin-btn" ng-click="signin(user)" ng-disabled="user_login.$invalid">
            Sign In
          </button>
        </form>
      </div>
    </div>

    <p>Don't have an account? Sign Up now</p>
    <button class="button button button-balanced signup-btn" ng-click="go_to('app.signup')">
      Sign Up
    </button>
  </ion-content>
</ion-view>
