<ion-view view-title="Sign Up" class="signup-page">
  <ion-content padding="true">
    <h3 class="signin-heading">Create new account</h3>
    <div class="card">
      <div class="list">
        <form name="user_account" class="signup-form">
          <div class="item item-divider">
            Account Info
          </div>
          <label class="item item-input">
            <i class="icon ion-person"></i>
            <input type="text" name="username" ng-model="user.username" placeholder="Username" required>
          </label>
          <label class="item item-input">
            <i class="icon ion-android-lock"></i>
            <input type="{{ showPassword ? 'text' : 'password' }}" name="password" ng-model="user.password" placeholder="Password" required>
          </label>
          <button class="button button-clear btn-show-password" ng-click="togglePassword()" clear item-right><i class="ion-eye{{ showPassword ? '-disabled' : '' }}"></i></button>
          <label class="item item-input">
            <i class="icon ion-email"></i>
            <input type="email" name="email" ng-model="user.email" placeholder="Email" required>
          </label>
          <div class="item item-divider">
            Personal Info
          </div>
          <label class="item item-input">
            <i class="icon ion-person"></i>
            <input type="text" name="fullname" ng-model="user.fullname" placeholder="Full Name" required>
          </label>
          <label class="item item-input">
            <i class="icon ion-ios-telephone"></i>
            <input type="text" name="phone" ng-model="user.phone" placeholder="Phone Number" required>
          </label>
          <label class="item item-input">
            <i class="icon ion-location"></i>
            <input type="text" name="address" ng-model="user.address" placeholder="Address" required>
          </label>
          <label class="item item-input">
            <i class="icon ion-social-facebook"></i>
            <input type="text" name="facebook" ng-model="user.facebook" placeholder="Facebook" required>
          </label>
          <label class="item item-input">
            <i class="icon ion-image"></i>
            <input type="text" name="profilepic" ng-model="user.profilepic" placeholder="Profile Pic" required>
          </label>
          <button class="button button button-balanced signin-btn" ng-click="signup(user)" ng-disabled="user_account.$invalid">
            Sign Up
          </button>
        </form>
      </div>
    </div>
    <button class="button button button-block signup-fb-btn" ng-click="signup-fb()">
      <i class="icon ion-social-facebook"></i>
      Sign Up via Facebook
    </button>

  </ion-content>
</ion-view>
